@model IList<Library.Domain.Menu.Menu>
 
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <a href="@(item.SubMenu != null? "#"+item.ID.ToString():item.Url)" class="list-group-item" data-toggle="@(item.SubMenu != null? "collapse":"")" data-parent="#main-menu"><span><i class="fa fa-home link-icon"></i></span>@Html.Raw(item.Name.ToUpper())<span><i class="fa fa-chevron-down arrow"></i></span></a>



                <div class="collapse sub-menu" id="@item.ID">

                    @{if (item.SubMenu != null)
                        {
                            foreach (var itemSubMenu in item.SubMenu)
                            {
                                <a class="list-group-item" href="../@itemSubMenu.Url">@itemSubMenu.Name</a>
                            }
                        }
                    }
                </div>


            }
        }
    }
  